<%- include("../partials/header") %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>campr.</h1>
      <i class="fa fa-area-chart fa-3x" aria-hidden="true"></i>
      <p class="d-inline">View our hand-picked campgrounds from all over the world!</p>
      <p class="mt-4">
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add Campground</a>
      </p>
    </div>
  </header>
  <div class="row text-center card-title">
    <% campgrounds.forEach(campground => { %>
      <div class="col-md-3 col-sm-6 mb-5">
        <div class="img-thumbnail px-0 py-0">
          <figure class="figure">
            <img class="img-fluid" src="<%= campground.image %>">
            <figcaption class="figure-caption py-2">
              <h4><%= campground.name %></h4>
              <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"><i class="fa fa-info-circle" aria-hidden="true"></i>
                More Info</a>
            </figcaption>
          </figure>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<%- include("../partials/footer") %>
